@font-face {
  font-family: 'Beyond Wonderland';
  src: url('fonts/beyond-wonderland.regular.ttf')
}  

body {
  font-family: 'Beyond Wonderland'
}

#webtitle {
  width: 320px;
  text-align: center;
  font-size: 20vw;
  margin: auto
}

#gameplaceholder {
  height: 90vw;
  width: 90vw;
  margin: auto;
  background-color: #555;
  display: table-cell;
  verticle-align: middle
}
