@font-face {
  font-family: 'Beyond Wonderland';
  src: url('fonts/beyond-wonderland.regular.ttf')
}  

* {
  font-family: 'Beyond Wonderland'
}

#webtitle {
  width: 320px;
  margin: auto
}

#gameplaceholder {
  height: 500px;
  width: 500px;
  margin: auto;
  background-color: #555
}
